<h1><%= @user.name %></h1>
<p>
  <img src="<%= gravatar_for @user %>"/>
  <%= @user.name %>
</p>

<% form_settings = {:multipart => true} %>
<%= form_for :post, url: posts_path, html: form_settings do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Submit" %>
<% end %>

<% @user.posts.order('created_at desc').each do |p| %>
  <%= image_tag p.image.url(:medium) %>
<% end %>
